@font-face {
    font-family: InterBold;
    src: url(font/Inter/static/Inter-Bold.ttf);
}

@font-face {
    font-family: InterB;
    src: url(font/Inter/static/Inter-Medium.ttf)
}

@font-face {
    font-family: InterS;
    src: url(font/Inter/static/Inter-Light.ttf)
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

body{
    background-color: white;
}

.mm{
    position: absolute;
    top: 10%;
    left: 10%;
}

.Communication{
    position: fixed;
    width: 262px;
    height: 29px;

    font-family: 'InterS';
    z-index: 2;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 29px;
    margin-left: 80px;
    margin-top: -220px;
    color: #000000;

}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 80px;
    background: rgb(255, 255, 255);
    
}

.navbar ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: right;
    margin-right: 5%;
    margin-top: 1%;
    cursor: pointer;
}

.navbar ul li {
    margin:  0 1rem;
    padding: 1rem;
    font-size: 20px;
    font-family: InterB,'Times New Roman', Times, serif;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black
}

.navbar ul li a:hover { 
    color: rgb(122, 18, 242);
}

.Title{
    position: flex;
    width: 622px;
    height: 184px;
    margin-left: 5%;
    margin-top: 15%;
    
    font-family: 'InterBold';
    font-style: normal;
    font-weight: bolder;
    font-size: 115px;
    line-height: 35px;
    
    color: #000000;
}

.subTitle{
    position: flex;
    width: 622px;
    height: 184px;
    margin-left: 5%;
    margin-top: 5%;
    
    font-family: 'InterB';
    font-style: InterB;
    font-size: 35px;
    line-height: 50px;
    
    color: #000000;
}

.personInfo{
    position: flex;
    width: 622px;
    height: 184px;
    margin-left: 5%;
    margin-top: 0%;
    
    font-family: 'InterB';
    font-style: InterB;
    font-size: 20px;
    line-height: 20px;
    
    color: #000000;
}

.dougPhoto{
    position: absolute;
    width: 622px;
    height: 184px;
    left: 38%;
    top: 45px;
    scale: 0.65;
}

.down1{
    position: absolute;
    left: 200px;
    top: 370px;
    transform: scale(0.05);
}

.down2{
    position: absolute;
    left: 200px;
    top: 1170px;
    transform: scale(0.05);
}

.down3{
    position: absolute;
    left: 200px;
    top: 1950px;
    transform: scale(0.05);
}

.down4{
    position: absolute;
    left: 200px;
    top: 2750px;
    transform: scale(0.05);
}



.TitleSub1{
    position: absolute;
    width: 622px;
    height: 184px;
    margin-left: 5.5%;
    margin-top: -4%;
    top: 920px;
    
    font-family: 'InterBold';
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 55px;
    
    color: #000000;
}

.TextSub1{
    position: absolute;
    width: 600px;
    height: 184px;
    margin-left: 53%;
    top: 990px;
    
    font-family: 'InterS';
    font-style: normal;
    font-size: 19px;
    line-height: 35px;
}

.project1Photo{
    position: absolute;
    top: 750px;
    left: -620px;
    scale: 0.45;
    margin-left: 25%;
}

.link1{
    position: absolute;
    width: 622px;
    height: 184px;
    margin:  0 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 15px;
    font-family: InterB,'Times New Roman', Times, serif;
    top: 1300px;
    left: 51%;
}

.TitleSub2{
    position: absolute;
    width: 622px;
    height: 184px;
    margin-left: 5.5%;
    margin-top: -4%;
    top: 1680px;
    
    font-family: 'InterBold';
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 55px;
    
    color: #000000;
}

.TextSub2{
    position: absolute;
    width: 600px;
    height: 184px;
    margin-left: 53%;
    top: 1790px;
    
    font-family: 'InterS';
    font-style: normal;
    font-size: 19px;
    line-height: 35px;
}

.project2Photo{
    position: absolute;
    top: 1650px;
    left: -630px;
    scale: 0.5;
    margin-left: 25%;
}

.link2{
    position: absolute;
    width: 622px;
    height: 184px;
    margin:  0 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 15px;
    font-family: InterB,'Times New Roman', Times, serif;
    top: 2100px;
    left: 51%;
}

.TitleSub3{
    position: absolute;
    width: 622px;
    height: 184px;
    margin-left: 5.5%;
    margin-top: -4%;
    top: 2480px;
    
    font-family: 'InterBold';
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 55px;
    
    color: #000000;
}

.TextSub3{
    position: absolute;
    width: 600px;
    height: 184px;
    margin-left: 53%;
    top: 2590px;
    
    font-family: 'InterS';
    font-style: normal;
    font-size: 19px;
    line-height: 35px;
}

.project3Photo{
    position: absolute;
    top: 2400px;
    left: -430px;
    scale: 0.45;
    margin-left: 25%;
}

.link3{
    position: absolute;
    width: 622px;
    height: 184px;
    margin:  0 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 15px;
    font-family: InterB,'Times New Roman', Times, serif;
    top: 2870px;
    left: 51%;
}

.TitleSub4{
    position: absolute;
    width: 622px;
    height: 184px;
    margin-left: 5.5%;
    margin-top: -4%;
    top: 3280px;
    
    font-family: 'InterBold';
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 55px;
    
    color: #000000;
}

.TextSub4{
    position: absolute;
    width: 600px;
    height: 184px;
    margin-left: 53%;
    top: 3390px;
    
    font-family: 'InterS';
    font-style: normal;
    font-size: 19px;
    line-height: 35px;
}

.project4Photo{
    position: absolute;
    top: 3100px;
    left: -530px;
    scale: 0.45;
    margin-left: 25%;
}

.link4{
    position: absolute;
    width: 622px;
    height: 184px;
    margin:  0 1rem;
    padding: 1rem;
    list-style-type: none;
    font-size: 15px;
    font-family: InterB,'Times New Roman', Times, serif;
    top: 3620px;
    left: 51%;
}
