@font-face {
    font-family: Niexie;
    src: url(Font/NixieOne-Regular.otf);
}
@font-face {
    font-family: cali;
    src: url(Font/OleoScriptSwashCaps-Regular.ttf);
}
@font-face {
    font-family: agran;
    src: url(Font/Agrandir-Regular.otf);
}
@font-face {
    font-family: agranTHIN;
    src: url(Font/Agrandir-GrandLight.otf);
}

@font-face {
    font-family: agranBOLD;
    src: url(Font/PPAgrandirText-Bold.otf);
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}


body{
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

#top{
    text-align: left;
    left: 55px;
    top: 40px;
    font-size: 45px;
    position: absolute;
    font-family: agranTHIN, sans-serif;
    font-weight: 200;
}

.timer{
    font-family: agranTHIN, sans-serif;
    position: absolute;
    top: 35pt;
    left: 40pt;
    font-size: 20pt;
    margin: 0%;
    padding: 0%;
}

#intro{
    font-family: agran, Times, serif;
    font-size: 17px;
    line-height: 27px;
    width: 35%;
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 600px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 30px;
    z-index: 10;
}

.titleintro{
    font-size: 31px;
    font-family: cali, Arial, Helvetica, sans-serif;
}

.fashiongif{
    margin-top: 0px;
    z-index: 100;
    position: absolute;
    right: 100px;
    top: 176px;
}

.page1rect{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-41.5%);
    width: 750px;
    height: 525px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.downIcon{
    top: 725px;
    left: 50%;
    position: absolute;
}

.navegacion2{
    padding: 0;
    margin: 0;
    font-family: agranTHIN, sans-serif;
    right: 80pt;
    top: 585pt;
    position: absolute;
    display: inline-block;
}

.navegacion3{
    padding: 0;
    margin: 0;
    font-family: agranTHIN, sans-serif;
    right: 70pt;
    top: 1185pt;
    position: absolute;
    display: inline-block;
}

ul{
    text-decoration: none;
    list-style: none;
    color: white;
    display: inline-block;
    padding: 15px;
}

a{
    color: white;
    font-size: 17pt;
}

.navegacion{
    padding: 0;
    margin: 0;
    font-family: agranTHIN, sans-serif;
    right: 70pt;
    top: 50pt;
    position: absolute;
    display: inline-block;
}

li{
    text-decoration: none;
    list-style: none;
    color: white;
    display: inline-block;
    padding: 15px;
}

a{
    color: white;
    font-size: 17pt;
}

.top2{
    left: 55px;
    top: 730px;
    font-size: 68px;
    position: absolute;
    font-family: agranTHIN, sans-serif;
    font-weight: 200;
    color: white;
    animation: fadeIn 3s;
}

.mainVideo{
    left: 100px;
    top: 1000px;
    position: absolute;
    animation: fadeIn 3s;
}

.p2sentence{
    left: 735px;
    top: 930px;
    position: absolute;
    font-size: 26px;
    line-height: 40px;
    width: 40%;
    font-family: agran, Arial, Helvetica, sans-serif;
    animation: fadeIn 6s;
}

.p2time{
    left: 540px;
    top: 890px;
    position: absolute;
    font-size: 28px;
    width: 40%;
    line-height: 130px;
    font-family: agran, Arial, Helvetica, sans-serif;
    animation: fadeIn 6s;
}

.page2Line{
    width: 55%;
    color: rgb(51, 50, 50);
    height: 1;
    margin-top: 470px;
    margin-left: 37%;
    background-color: rgb(53, 53, 53);
}

.page2Line2{
    width: 55%;
    position: absolute;
    color: rgb(51, 50, 50);
    height: 1;
    margin-top: 143px;
    margin-left: 35.5%;
    background-color: rgb(53, 53, 53);
}

.page2Line3{
    width: 55%;
    position: absolute;
    color: rgb(53, 53, 53);
    height: 1;
    margin-top: 340px;
    margin-left: 35.5%;
    background-color: rgb(53, 53, 53);
}

.top3{
    left: 55px;
    top: 1570px;
    font-size: 48px;
    position: absolute;
    font-family: agranTHIN, sans-serif;
    font-weight: 200;
    color: white;
    animation: fadeIn 3s;
}

.comment{
    left: 50px;
    top: 1700px;
    position: absolute;
    padding: 0%;
    margin:0%;
    background-color:black;
    font-family: agranTHIN, sans-serif;
}

.comment h2{
    font: 20px;
    margin-bottom: 15px;
    font-family: agranTHIN, sans-serif;
}

.comment input{
    width: 100%;
    height: 100px;
    padding: 0 20px ;
    margin-bottom: 25px;
    border-radius: 5px;
    font-family: agran, sans-serif;
    color: white;
    background-color: black;
    border-color: white;
}


.comment textarea{
    width: 100%;
    height: 300px;
    padding: 15px 20px ;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: agran, sans-serif;
    background-color: black;
    color: white;
    border-color: white;
}

.comment button{
    border: 0;
    padding-left: 20px 30px;
    background-color: black;
    font-size: 20px;
    color: white;
    font-family: agranTHIN, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    
}

.comment button:hover{
    background-color:white;
    color:black;
}
